@import url("https://fonts.googleapis.com/css?family=VT323");

.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-color: firebrick;
}

#display {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  padding-top: 25%;
}

.button {
  margin-top: 15%;
}

.name-display {
  font-family: "VT323", monospace;
  font-size: 3em;
  width: 45%;
  border: 0.3rem solid white;
  border-radius: 1.5rem;
  margin: 0 auto;
}

.name-display > p {
  color: goldenrod;
}
